* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D1D6DA;
}

.container {
max-width: 100%;
margin: 0 auto;
padding: 0 22px;
}

header {
  font-family: 'Roboto';
  color: #fff;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 105px;
}

nav img {
  padding-top: 10px;
	height: 90px;
}

nav ul{
  list-style: none;
	display: flex;
}

nav ul li {
	margin: 0 18px;
}

nav ul li a {
  color: #224873;
  text-decoration: none;
  font-size: 14px;
}

nav ul li a:hover {
	color: #fff;
}


.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  body{
    height: 200vh;
  }
  .mobile {
    display: block;
  }
  .desktop {
      display: none;
  }
  .mobile .burgerbtn{
    background: #fafafa;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    position: fixed;
    top: 15px;
    z-index: 9999999;
  }
  .mobile .menuburger{
    background: rgba(0, 0, 0, 0.5);
    height: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .mobile div i{
    font-size: 1.5em;
  }
  .mobile input{
    appearance: none;
  }
  .mobile input:checked ~ .menuburger{
    height: 100vh;
  }
}



.containerTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

.content {
    display: flex;
    background: linear-gradient(180deg, rgba(17,65,125,1) 0%, rgba(152,153,153,1) 100%);
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    flex: 1;
    padding: 0 50px;
    color: #fff;
}

h1 {
    font-size: 42px;
    font-family: 'Audiowide', cursive;
    margin-bottom: 20px;
    text-align: center;
}

.text h1 span {
    color: #FD8A69;
    font-size: 42px;
    font-family: 'Audiowide', cursive;
    margin-bottom: 20px;
}

h3 {
    font-size: small;
    text-align: center;
    font-family: 'Roboto';
}

h5 {
    font-weight: bold;
    font-family: 'Roboto';
}
  
.image {
    flex: 1;
    margin-top: 35px;
    margin-left: 20px;
    margin-right:40px;
    margin-bottom: 35px;
    text-align: center;
}

  
.image img {
    max-width: 100%;
    height: auto; box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  }

.camembertDG img{
    max-width: 94%;
    align-content: center;
    padding-bottom: 80px;
}


.camembertDG {
   text-align: center;
}


.quatreH {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

.quatreB {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.quatreH .orange{
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    text-size-adjust: 0;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin-top: 90px;
    width: 185px;
    height: 185px;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 12px;
    background: #FD8A69;
    border-color: #FD8A69;
    box-shadow:  10px 10px 29px #1b2025,15px 15px 29px;
    
  }

  .quatreH .bleu{
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    text-size-adjust: 0;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin-top: 90px;
    width: 185px;
    height: 185px;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 12px;
    border-color: #11417D;
    background: #11417D;
    box-shadow:  10px 10px 29px #1b2025,15px 15px 29px;
    
    
  }

  .quatreH .vert{
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    text-size-adjust: 0;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin-top: 90px;
    width: 185px;
    height: 185px;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 12px;
    border-color: #47A18B;
    background: #47A18B;
    box-shadow:  5px 5px 0px 5px rgba(0, 0, 0, 0.05);

  }


  .quatreH .gris{
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    text-size-adjust: 0;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin-top: 90px;
    width: 185px;
    height: 185px;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 12px;
    border-color: #989999;
    background: #989999;
    box-shadow:  10px 10px 29px #1b2025,15px 15px 29px;
    
    
  }

  .quatreB .bleu{
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    text-size-adjust: 0;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin-bottom: 80px;
    width: 185px;
    height: 185px;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 12px;
    border-color: #11417D;
    background: #11417D;
    box-shadow:  10px 10px 29px #1b2025,15px 15px 29px;
    
    
  }

  .quatreB .gris{
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    text-size-adjust: 0;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin-bottom: 80px;
    width: 185px;
    height: 185px;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 12px;
    border-color: #989999;
    background: #989999;
    box-shadow:  10px 10px 29px #1b2025,15px 15px 29px;
    
    
  }

  .quatreB .orange{
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    text-size-adjust: 0;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin-bottom: 80px;
    width: 185px;
    height: 185px;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 12px;
    border-color: #FD8A69;
    background: #FD8A69;
    box-shadow:  10px 10px 29px #1b2025,15px 15px 29px;
    
    
  }

  .quatreB .vert{
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    text-size-adjust: 0;
    font-weight: bold;
    font-size: medium;
    text-align: justify;
    text-align: center;
    margin-bottom: 80px;
    width: 185px;
    height: 185px;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 12px;
    border-color: #47A18B;
    background: #47A18B;
    box-shadow:  10px 10px 29px #1b2025,15px 15px 29px;
    
    
  }
 

h2 {
    display: inline;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase; /* mise en majuscule de toutes les lettres*/
    width: 600px;
    font-weight: 300;
    text-shadow: none;
    color: #585858;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em;
    background-color: #D9D9D9;
    border: #000 1px solid;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    line-height: 140px;   
}

.buttomMilieux {
  text-align: center;
}




.containerContact {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 px;
  color: #fff;
  background: linear-gradient(0deg, rgba(17,65,125,1) 0%, rgba(152,153,153,1) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto';
  text-decoration: none; 
}


.contact{
width: 25%;
line-height: 140%;
text-decoration: none;
font-family: 'Roboto';
display: flex;
flex-direction: column;
justify-content: center;
  
}

.contact br {
  text-decoration: line-through;
  text-transform: uppercase;
}

.social{
  display: flex;
  margin-top: 20px;
}
  
  
.icone {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
      background: #ffffff;
      border-radius: 50%;
      margin-right: 10px;
}
  
.social .icone{
display: flex;
}

.form{
  font-size: smaller;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 300px;
  color: #ffffff;
  background-color: #11417D;
  box-shadow: 5px 5px 5px #D1D6DA;
 }

 .form input{
  height: 25px;
  width: 100%;
 }

 .bar{
  height: 200px;
  border-left: 2px solid white;
 }

 #envoyer{
  background-color: #FD8A69;
 }
 


